<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Soulmate auth</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
</head>
<body>
    <a href="/">Home</a>
    <!-- 소셜 로그인 URL은 prop -->
    <div><a id="oauth-google" href="/oauth2/authorization/google">Google Login</a></div>
    <div><a id="oauth-naver"  href="/oauth2/authorization/naver">Naver Login</a></div>
    <div><a id="oauth-kakao"  href="/oauth2/authorization/kakao">Kakao Login</a></div>
</body>
<script>
</script>
</html>