<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Soulmate</title>
</head>
<body>
    <div>
        <th:block th:if="${session.user != null}">
            안녕하세요, <span th:text="${session.user.name}"></span>!
            <a href="/my">My page</a>
            <a href="/auth/logout">Logout</a>
        </th:block>
        <th:block th:if="${session.user == null}">
            <a href="/auth" th:if="${session.user == null}">Login</a>
        </th:block>
    </div>

    <h1>This is main page</h1>
</body>
</html>