<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Soulmate</title>
</head>
<body>
    <div>
        <a href="/">Home</a>
    </div>

    <h1>My Pets</h1>

    <div>
        <a href="/my/pets/edit">Register</a>
    </div>

    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Kind</th>
                <th>Sex</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pet : ${pets}">
                <td th:text="${petStat.count}"></td>
                <td th:text="${pet.name}"></td>
                <td th:text="${pet.kind}"></td>
                <td th:text="${pet.sex}"></td>
                <td th:text="${pet.age}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>