<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Soulmate</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
</head>
<body>
    <div>
        <a href="/">Home</a>
    </div>

    <h1>Modify pet</h1>

    <form method="post" id="frm">
        <table>
            <tr>
                <th>Picture</th>
                <td>
                    <input type="file" name="file" class="pet-info"/>
                    <div>
                        <img src="" id="preview" width="100" height="100"/>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Name</th>
                <td><input type="text" name="name" th:value="${pet.name}" class="pet-info"/></td>
            </tr>
            <tr>
                <th>kind</th>
                <td>
                    <select name="kind" th:value="${pet.kind}" class="pet-info">
                        <option vlaue="">품종</option>
                        <option value="pomeranian">포메라니안</option>
                        <option value="chihuahua">치와와</option>
                        <option value="maltese">말티즈</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>weight</th>
                <td><input type="text" name="weight" th:value="${pet.weight}" class="pet-info"/></td>
            </tr>
            <tr>
                <th>age</th>
                <td><input type="text" name="age" th:value="${pet.age}" class="pet-info"/></td>
            </tr>
            <tr>
                <th>sex</th>
                <td>
                    <input type="radio" name="sex" value="M" th:checked="${pet.sex} == 'M'" class="pet-info"/>Male
                    <input type="radio" name="sex" value="F" th:checked="${pet.sex} == 'F'" class="pet-info"/>Female
                    <input type="radio" name="sex" value="N" th:checked="${pet.sex} == 'N'" class="pet-info"/>Neutral
                </td>
            </tr>
            <tr>
                <input type="button" value="delete" class="delete-btn"/>
                <input type="button" value="cancel" class="cancel-btn"/>
                <input type="submit" value="modify"/>
            </tr>
        </table>
    </form>
</body>
<script src="/js/formAction.js"></script>
<script src="/js/fileAction.js"></script>
<script th:inline="javascript">
    let pet = {
        id: 0
        ,name: ''
        ,kind: ''
        ,weight: ''
        ,age: ''
        ,sex: ''
        ,neutral: ''
        ,desc: ''
    };
    let attachFile;
    let canModify = [[${isModify}]];

    window.addEventListener("DOMContentLoaded", () => {
        isModify();
    });

    /* 조회일 때 수정 할 수 없게 하기 */
    function isModify() {
        console.log(canModify);

        if (!canModify) {
            document.querySelectorAll('.pet-info').forEach(i => i.setAttribute("disabled", true));
        } else {
            document.querySelectorAll('.pet-info').forEach(i => i.removeAttribute("disabled"));
        }
    }

    /* 수정하기 모드로 바꾸기 */
    function setModeModify() {
        canModify = true;

        isModify();
        document.querySelector("input[type='submit']").value = "save";
    }

    /* 첨부파일 등록하기 */
    function onChangeFile(e) {
        attachFile = e.target.files[0];
        fileAction.readURL(e);
    }
    document.querySelector("input[name=file]").addEventListener('change', (e) => onChangeFile(e));

    /* 반려동물 수정하기 */
    function beforeOnSubmit(e) {
        e.preventDefault();

        if (!canModify) {
            setModeModify();
            return;
        }

        const petId = [[${pet.id}]];
        formAction.post(`/api/v1/my/pets/edit/${petId}`, pet, attachFile);
    }
    document.querySelector('#frm').addEventListener('submit', (e) => beforeOnSubmit(e));

    /* 반려동물 수정 취소하기 */
    function onCancel() {
        console.log('cancel!');
        location.href = "/my/pets";
    }
    document.querySelector('.cancel-btn').addEventListener('submit', (e) => onSubmit(e));

    /* 반려동물 삭제하기 */
    function onDelete() {
        if(!confirm("정말 삭제하시겠습니까?")) {
            return;
        }

        const petId = [[${pet.id}]];
        axios.delete(`/api/v1/my/pets/${petId}`)
        .then(res => {
            if (res.data > 0) {
                alert("삭제 되었습니다.");
                location.href = "/my/pets";
            } else {
                alert("삭제 중 오류가 발생하였습니다.\n잠시 후, 다시 시도해주세요.");
            }
        }).catch(err => console.log(err));
    }
</script>
</html>