<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Soulmate</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
</head>
<body>
    <div>
        <a href="/">Home</a>
    </div>

    <h1>Modify pet</h1>

    <form method="post" id="frm">
        <table>
            <tr>
                <th>Picture</th>
                <th><input type="file" name="file" class="pet-info"/></th>
            </tr>
            <tr>
                <th>Name</th>
                <th><input type="text" name="name" th:value="${pet.name}" class="pet-info"/></th>
            </tr>
            <tr>
                <th>kind</th>
                <th>
                    <select name="kind" th:value="${pet.kind}" class="pet-info">
                        <option vlaue="">품종</option>
                        <option value="pomeranian">포메라니안</option>
                        <option value="chihuahua">치와와</option>
                        <option value="maltese">말티즈</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th>weight</th>
                <th><input type="text" name="weight" th:value="${pet.weight}" class="pet-info"/></th>
            </tr>
            <tr>
                <th>age</th>
                <th><input type="text" name="age" th:value="${pet.age}" class="pet-info"/></th>
            </tr>
            <tr>
                <th>sex</th>
                <th>
                    <input type="radio" name="sex" value="M" th:checked="${pet.sex} == 'M'" class="pet-info"/>Male
                    <input type="radio" name="sex" value="F" th:checked="${pet.sex} == 'F'" class="pet-info"/>Female
                    <input type="radio" name="sex" value="N" th:checked="${pet.sex} == 'N'" class="pet-info"/>Neutral
                </th>
            </tr>
            <tr>
                <th>desc</th>
                <th><textarea name="desc" th:value="${pet.desc}" th:text="${pet.desc}" class="pet-info"></textarea></th>
            </tr>
            <tr>
                <input type="button" value="delete" class="delete-btn"/>
                <input type="button" value="cancel" class="cancel-btn"/>
                <input type="submit" value="modify"/>
            </tr>
        </table>
    </form>
</body>
<script th:inline="javascript">
    let pet = {
        name: ''
        ,kind: ''
        ,weight: ''
        ,age: ''
        ,sex: ''
        ,neutral: ''
        ,desc: ''
    };
    let attachFile;
    let canModify = [[${isModify}]];

    window.addEventListener("DOMContentLoaded", () => {
        isModify();
    });

    /* 조회일 때 수정 할 수 없게 하기 */
    function isModify() {
        console.log(canModify);

        if (!canModify) {
            document.querySelectorAll('.pet-info').forEach(i => i.setAttribute("disabled", true));
        } else {
            document.querySelectorAll('.pet-info').forEach(i => i.removeAttribute("disabled"));
        }
    }

    /* 수정하기 모드로 변경하기 */
    function setModeModify() {
        canModify = true;

        isModify();
        document.querySelector("input[type='submit']").value = "save";
    }

    /* 첨부파일 등록하기 */
    function onChangeFile(e) {
        attachFile = e.target.files[0];
    }
    document.querySelector("input[name=file]").addEventListener('change', (e) => onChangeFile(e));

    /* 반려동물 데이터 수정하기 */
    function onSubmit(e) {
        e.preventDefault();

        if (!canModify) {
            setModeModify();
            return;
        }

        let fd = new FormData(document.querySelector('#frm'));
        const petId = [[${pet.id}]];

        for (const key of Object.keys(pet)) {
            pet[key] = fd.get(key);
        }

        //formData를 필요한 데이터만으로 재구성
        fd = new FormData();

        //json 타입은 Blob로 감싸지 않으면 415 발생
        fd.append("pet", new Blob([JSON.stringify(pet)], { type: "application/json" }));
        if (attachFile != null) {
            fd.append("file", attachFile);
        }

        //formData 확인하기
        const entries = fd.entries();
        for (const pair of entries) {
            console.log(pair[0] + ', ' + pair[1]);
        }

        const headers = {
            "Content-Type": "multipart/form-data"
        };

        axios.post(`/api/v1/my/pets/edit/${petId}`, fd, {
            headers: headers
        }).then(res => {
            console.log(res);
        }).catch(err => console.log(err));
    }
    document.querySelector('#frm').addEventListener('submit', (e) => onSubmit(e));

    /* 반려동물 수정 취소하기 */
    function onCancel() {
        console.log('cancel!');
        location.href = "/my/pets";
    }
    document.querySelector('.cancel-btn').addEventListener('submit', (e) => onSubmit(e));

    /* 반려동물 삭제하기 */
    function onDelete() {
        if(!confirm("정말 삭제하시겠습니까?")) {
            return;
        }

        const petId = [[${pet.id}]];
        axios.delete(`/api/v1/my/pets/${petId}`)
        .then(res => {
            if (res.data > 0) {
                alert("삭제 되었습니다.");
                location.href = "/my/pets";
            } else {
                alert("삭제 중 오류가 발생하였습니다.\n잠시 후, 다시 시도해주세요.");
            }
        }).catch(err => console.log(err));
    }
</script>
</html>