<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Soulmate</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
</head>
<body>
    <div>
        <a href="/">Home</a>
    </div>

    <h1>Register pet</h1>

    <form method="post" id="frm">
        <table>
            <tr>
                <th>Picture</th>
                <td><input type="file" name="file"/></td>
            </tr>
            <tr>
                <th>Name</th>
                <td><input type="text" name="name"/></td>
            </tr>
            <tr>
                <th>kind</th>
                <td>
                    <select name="kind">
                        <option vlaue="">품종</option>
                        <option value="pomeranian">포메라니안</option>
                        <option value="chihuahua">치와와</option>
                        <option value="maltese">말티즈</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>weight</th>
                <td><input type="text" name="weight"/></td>
            </tr>
            <tr>
                <th>age</th>
                <td><input type="text" name="age"/></td>
            </tr>
            <tr>
                <th>sex</th>
                <td>
                    <input type="radio" name="sex" value="M"/>Male
                    <input type="radio" name="sex" value="F"/>Female
                    <input type="radio" name="sex" value="N"/>Neutral
                </td>
            </tr>
            <tr>
                <input type="submit" value="submit"/>
                <input type="button" value="cancel" class="cancel-btn"/>
            </tr>
        </table>
    </form>
</body>
<script src="/js/formAction.js"></script>
<script src="/js/fileAction.js"></script>
<script th:inline="javascript">
    let pet = {
        id: 0
        ,name: ''
        ,kind: ''
        ,weight: ''
        ,age: ''
        ,sex: ''
        ,neutral: ''
        ,desc: ''
    };
    let attachFile;

    function onChangeFile(e) {
        attachFile = e.target.files[0];

        fileAction.readURL(e);
    }
    document.querySelector("input[name=file]").addEventListener('change', (e) => onChangeFile(e));

    /* 반려동물 등록하기 */
    document.querySelector('#frm').addEventListener('submit', (e) => {
        const url = "/api/v1/my/pets/edit";

        formAction.post(url, pet, attachFile);
    });

    function onCancel() {
        location.href = "/my/pets";
    }
    document.querySelector('.cancel-btn').addEventListener('click', () => onCancel());
</script>
</html>